.navdiv {
    background-color: cornflowerblue;
    align-items: Center;
    justify-content: center;
}

.movielogo {
    width: 55px;
    height: 55px;
    
}

#gsearch {
    width: 100%;
    height: 42px; 
}

.login {
    text-decoration: none;
    color: black;
    line-height: 3rem;
    text-align: center;
}