.inpSearch {
    width: 338px;
    height: 38px;
    background-color: #212529;
    color: whitesmoke;
    border-radius: 0.7rem;
    margin: 3px 0 25px 50%;
    
}

.nav-link {
    color: black;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #212529
}