.Navbar {
    background-color: cornflowerblue;
    align-items: Center;
    justify-content: center;
    width: 100%;
}

.movielogo {
    width: 80px;
    height: 80px;
    
}

.login {
    text-decoration: none;
    color:whitesmoke;
}