.movielogo {
    width: 80px;
    height: 80px;
    
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color:whitesmoke;
}

.ourname {
    color: whitesmoke;
    font-size: 1.3rem;
    font-family: fantasy;
}