.Navbar {
    background-color: cornflowerblue;
    align-items: Center;
    justify-content: center;
}

.movielogo {
    width: 75px;
    height: 75px;
    
}

#gsearch {
    width: 288px;
}

.login {
    text-decoration: none;
    color:#e9f175;

}

.Sbutton {
    text-align: center;
    line-height: 5px;   
    margin: 5px;

}
.search {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}